<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>admin</title>

        <meta name="description" content="welcome to utaha.moe" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="theme-color" content="#5a5c7e">
        <link rel='stylesheet' href='/css/admin.min.css' />
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <link rel="icon" href="images/favicon.png"/>
        <meta charset="utf-8"/>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80358615-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>
    <body>
        <h1>UTAHA.MOE</h1>
        <div class="row">
        <div class="col s12 m4 l3 ">
            <div class="collection">
                <a href="#" class="collection-item" id="menu_author">author tool</a>
                <a href="#" class="collection-item" id="menu_update">update tool</a>
                <a href="#" class="collection-item" id="menu_img">image tool</a>
            </div>
        </div>
        <div class="col s12 m8 l9">
            <div id="author_container">
                <form method="post" action="admin/form_author">
                    title : <input type="text" name="title"><br>
                    content : <textarea name="content" id="form_content"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <td>name</td>
                        <td>url</td>
                        <td>doc</td>
                        <td>settings</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function (item, index) { %>
                    <tr>
                        <td> <%= item.name %></td>
                        <td> <%= item.url %></td>
                        <td> <%= item.doc %></td>
                        <td> <a href="admin/form_delete?id=<%= item.id %>&password=admin">delete</a></td>
                    </tr>
                    <% });%>
                    </tbody>
                </table>
            </div>
            <div id="img_container">
                <form method="post" action="admin/form_img">
                    <input type="file" name="img">
                    <input type="submit" value="Submit">
                </form>
                <!--TODO:img list -->
            </div>
            <div id="update_container">
                <form method="post" action="admin/form_update">
                    id : <input type="text" name="id">
                    title : <input type="text" name="update_title">
                    content : <input type="text" name="update_content">
                    <input type="submit" value="Submit">
                </form>
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <td>name</td>
                        <td>url</td>
                        <td>doc</td>
                    </tr>
                    </thead>
                    <tbody>
                    <% data.forEach(function (item, index) { %>
                    <tr>
                        <td> <%= item.name %></td>
                        <td> <%= item.url %></td>
                        <td> <%= item.doc %></td>
                    </tr>
                    <% });%>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript" src="js/menu.js"></script>
    </body>
</html>