<!DOCTYPE html>
<html>
  <head>
    <title>utaha.moe</title>
    <meta name="description" content="welcome to utaha.moe" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="theme-color" content="#5a5c7e">
    <link rel='stylesheet' href='/css/style.min.css' />
    <link rel="icon" href="images/favicon.png"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80358615-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!--<link rel="stylesheet" href="/stylesheets/header.css"/>-->
  </head>
  <body>
  <div id="container">
    <div id="pop_content">
      <div id="pop_left">
        <img src="images/pop_img.png" alt="main pic" id="pop_img">
      </div>
      <div id="pop_right">
        <span id="pop_right_margin"></span>
        <p id="pop_text1">Welcome toㅡ</p>
        <p id="pop_text2">Utaha.moe</p>
        <!--TODO : a 태그 문제-->
        <div id="detail" class="link">
          <a id="detail_link" href="/about">Details</a>
        </div>
      </div>
    </div>
    <div class="main_content_container">
      <div class="main_content">
        <div class="row">
        <% data.forEach(function (item, index) { %>

          <div class="col s12 m4">
            <div class="card hoverable">
              <div class="card-image">
                <img src="<%= item.img %>" class="post_img materialboxed" data-caption="<%= item.name %>" alt="<%=item.name%>">
              </div>
              <div class="card-content">
                <a href="<%= item.url %>"><span class="card-title text-darken-4"><%= item.name %></span></a>
              </div>
              </div>
          </div>
        <% });%>
        </div>
      </div>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Utaha.moe</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
              <li><a class="grey-text text-lighten-3" href="http://utaha.moe/about">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Admin</a></li>
            </ul>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contact</h5>
            <ul>
              <!-- Place this tag where you want the button to render. -->
              <li><a class="github-button" href="https://github.com/real0131" data-style="mega" data-count-href="/real0131/followers" data-count-api="/users/real0131#followers" data-count-aria-label="# followers on GitHub" aria-label="Follow @real0131 on GitHub">Follow @real0131</a></li>
              <li><a href="https://twitter.com/utaha_moe" class="twitter-follow-button" data-show-count="false">Follow @utaha_moe</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2015-2016 Utaha.moe, All rights reserved.
        </div>
      </div>
    </footer>
  </div>

  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  </body>
</html>
